@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 400;
}
